@model MvcWeb.Models.TagHistoryContext;

@{
  ViewData["Title"] = "Miners On Shift";
}

<h1>MinersOnShift</h1>

<form asp-controller="History" asp-action="GetMinersOnShift" method="post">
  <div class="form-group">
    <label for="date">Select Date between @Model.MinDate and @Model.MaxDate</label>
    <input type="date"
           id="date"
           name="date"
           class="form-control"
           startDate="@Model.MinDate"
           max="@Model.MaxDate" />
  </div>
  <div class="form-group">
    <label for="period">Select Period:</label>
    <select id="period" name="period" class="form-control">
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
      <option value="evening">Evening</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr />

<h2>TagIdListData</h2>
<table>
  <thead>
    <tr>
      <th>Tag ID</th>
      <th>MinerID</th>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Address</th>
      <th>ZoneNumber</th>
      <th>Zone</th>
      <th>Reported</th>
      <th>Signal Strength</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var tagIdData in Model.TagIdListData) {
      <tr>
        <!-- Add more columns as needed -->
        <td>@tagIdData.TagID</td>
        <td>@tagIdData.MinerID</td>
        <td>@tagIdData.LastName</td>
        <td>@tagIdData.FirstName</td>
        <td>@tagIdData.Address</td>
        <td>@tagIdData.ZoneNumber</td>
        <td>@tagIdData.Zone</td>
        <td>@tagIdData.Reported</td>
        <td>@tagIdData.SignalStrength</td>
      </tr>
    }
  </tbody>
</table>

<hr />
